Malformed urls when passing a relative path without initial slash to HttpSession.get and similar methods

### Describe the bug

When specifying a host *without trailing slash*, e.g. `https://httpbin.org` and then sending a request using a relative url (path) *without an initial slash*, e.g. `self.client.get('anything')`, the resulting url is malformed, e.g. `'https://httpbin.organything'`, causing corresponding task to fail. 


### Expected behavior

I would expect the url to be built correctly, regardless of any missing or redundant slashes at the end of the specified host or at the start of the path.

For example, using `urlunparse` would give the desired result, e.g. `urlunparse(['https','httpbin.org','anything','','',''])` results in `'https://httpbin.org/anything'`, as expected.

Note that `urlunparse` is already used elsewhere, [e.g. for the base_url](https://github.com/locustio/locust/blob/master/locust/clients.py#L62), so why not use it here as well? 

Perhaps this should be an enhancement request, rather than a bug report, but it may lead to unexpected results.

Some references: [RFC 1808 section 2.1](https://tools.ietf.org/html/rfc1808#section-2.1), [RFC 1738 section 3.1](https://tools.ietf.org/html/rfc1738#section-3.1)

### Actual behavior

Relative path is appended to host without regard for slashes:

`host = 'https://httpbin.org'` and path `'anything'` results in absolute url `'https://httpbin.organything'`

Caused by the `_build_url` method: https://github.com/locustio/locust/blob/master/locust/clients.py#L71


### Steps to reproduce

Here's a minimal example:

    from locust import HttpLocust, TaskSet, between, task


    class UserBehavior(TaskSet):

        @task(1)
        def with_initial_slash(self):
            self.client.get('/anything')

        @task(1)
        def without_initial_slash(self):
            self.client.get('anything')


    class WebsiteUser(HttpLocust):
        host = 'https://httpbin.org'  # no trailing slash
        task_set = UserBehavior
        wait_time = between(1, 2)


### Environment

- OS: ubuntu 18 LTS
- Python version: 3.7
- Locust version: 0.14.4
- Locust command line that you ran: `locust -f minimal_example.py`
- Locust file contents (anonymized if necessary): see above

Hi! I think this is already a known defect (not sure if there is a separate ticket for it). There was even a PR recently that I think would have solved this but it had to be withdrawn (https://github.com/locustio/locust/pull/1217)

A proper fix to this would be really nice (deprecate host and rename it to base_url and use something like urljoin to build the url)